[submodule "Projects-NextJS-TailwindCSS-HTML-TypeScript-JavaScript"]
	path = Projects-NextJS-TailwindCSS-HTML-TypeScript-JavaScript
	url = https://github.com/MudassirBaig/Projects-NextJS-TailwindCSS-HTML-TypeScript-JavaScript.git
