body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d2e8e5;
}

.resume {
    width: 80%;
    margin: 0 auto;
    background: #8df7d5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header.personal-info {
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
